<mat-sidenav-container fullscreen appUiTour #tour="appUiTour">
  <mat-sidenav>
    sidenav works!
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-icon-button appUiTourStep="1">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button appUiTourStep="2">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-toolbar>


    <button class="test" mat-icon-button appUiTourStep="3">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-sidenav-content>
</mat-sidenav-container>